
<head>
    <link rel="stylesheet" href="assets/stylesheets/products/index.scss">
</head>
    

<body>
    
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-4" id="sideBar">
                <div class="row">
                  <section class="brands">
                       <h2> Brands </h2>
                          <%Brand.all.each do |brand|%>
                    <div class="yoyo">    
                       <a href= "https://ror-harrisneo.c9users.io/brands/<%=brand.name%>">
                        <span class="text"><%=brand.name%></span>
                        <span class="line -right"></span>
                        <span class="line -top"></span>
                        <span class="line -left"></span>
                        <span class="line -bottom"></span> </a>
                    </div>    
                          <%end%>
                  </section>
                </div>
              </div>
            <div class="col-md-8">
                <div class="wrapper">
                	<div class="content">
                		<!-- content here -->
                		<div class="product-grid product-grid--flexbox">
                			<div class="product-grid__wrapper">
                				<!-- Product list start here -->
                                <% Product.all.each do |p|%>
                				<!-- Single product -->
                				<div class="product-grid__product-wrapper">
                					<div class="product-grid__product">
                						<div class="product-grid__img-wrapper">			
                							<img src="<%=p.image%>" alt="Img" class="product-grid__img" />
                						</div>
                						<span class="product-grid__title"><%=p.name%></span>
                						<span class="product-grid__price">Rs. <%=p.price.to_i%></span>
                						<div class="product-grid__extend-wrapper">
                							<div class="product-grid__extend">
                								<p class="product-grid__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis velit itaque odit.</p>
                								<span class="product-grid__btn product-grid__view"><i class="fa fa-eye"></i> View more</span>
                								<%= button_to 'Add to Cart', line_items_path(product_id: p.id), class: "btn btn-success" %>
                								
                							</div>
                						</div>
                					</div>
                				</div>
                				<%end%>
                				
                			</div>		
                		</div>
                	</div> 	
                </div>
            </div>
        </div>
</div>
	

</body>