<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%if  @isPresent%>
    <%= @line_item.product.name %>
  <%elsif  !@isPresent%> 
    <h1> Line item is not present </h1>
  <%end%>
</p>

<p>
  <strong>Cart:</strong>
  <%= @line_item.cart.id %>
</p>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
